<h1>Post Lists</h1>

<table>
  <%@posts.each do |p| %>
    <tr>
      <td> 
      
          <h2><%= link_to p.title, post_path(p) %></h2>
          
          <h3>Posted at <%= time_ago_in_words(p.created_at) %> ago </h3> 

      </td>
    </tr>
  <% end %>
</table>

<%= link_to "New Post" , new_post_path %>